<div class="ServiciosContenedor">
  
  <div class="card" style="width: 18rem;">
    <img src="../../../assets/Imagenes/odontogeneral.jpg" class="card-img-top" alt="odontogeneral">
    <div class="card-body">
      <h5 class="card-title">Odontologia General y Estetica</h5>
      <p class="card-text" style="text-align: justify;">Es la especialidad encargada de prevenir,diagnosticar y tratar aquellos problemas primarios relacionados con los dientes las encías y la lengua.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="../../../assets/Imagenes/ortodoncia 2.jpg" class="card-img-top" alt="Ortodoncia">
    <div class="card-body">
      <h5 class="card-title">Ortodoncia</h5>
      <p class="card-text" style="text-align: justify;">Es el encargado del alineamiento de los dientes por medio brackets .</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="../../../assets/Imagenes/periodoncia.jpg" class="card-img-top" alt="Periodoncia">
    <div class="card-body">
      <h5 class="card-title">Periodoncia</h5>
      <p class="card-text" style="text-align: justify;">Es un odontólogo especializado en la prevención,diagnóstico y tratamiento de infecciones y enfermedades asociadas al hueso y a la encía  (tejidos que soportan el diente).</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="../../../assets/Imagenes/endodoncia.jpg" class="card-img-top" alt="Endodoncia">
    <div class="card-body">
      <h5 class="card-title">Endodoncia</h5>
      <p class="card-text" style="text-align: justify;">Es el encargado de tratar el nervio del diente y su debido tratamiento (relleno de conductos con material inerte).</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="../../../assets/Imagenes/pediatria.jpg" class="card-img-top" alt="Pediatria">
    <div class="card-body">
      <h5 class="card-title">Odontopediatria</h5>
      <p class="card-text" style="text-align: justify;">Es la encargada de atender a los más pequeños y sus alteraciones tanto dentales como óseas por medio de aparatos.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;  margin-top: 20px;">
    <img src="../../../assets/Imagenes/cirugia.jpg" class="card-img-top" alt="Cirugia">
    <div class="card-body">
      <h5 class="card-title">Cirugia Oral</h5>
      <p class="card-text" style="text-align: justify;">es un odontólogo especializado encargado en la extracción de órganos dentales retenidos como (los terceros molares o muelas del juicio) lesiones y tumores del hueso.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 20px;">
    <img src="../../../assets/Imagenes/rehabilitacion.jpg" class="card-img-top" alt="Rehabilitacion">
    <div class="card-body">
      <h5 class="card-title">Rehabilitacion Oral</h5>
      <p class="card-text" style="text-align: justify;">Área de la odontologia que se encarga de restablecer forma función y estética por proceso de pérdidas de estructuras dentales.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  


