<div style="color: white;">
    <h1>Estas en las mejores manos</h1>
</div>
<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card d-block w-100" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">ANNY MARCELA VIVARES BUILES</h5>
          <p class="card-text">
            periodoncista.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
        <div class="card d-block w-100" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">JAIME ALBERTO ARBELAEZ PINEDA</h5>
              <p class="card-text">
                endodoncista.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="carousel-item">
        <div class="card d-block w-100" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">GUSTAVO ADOLFO JIMENEZ ARBELAEZ</h5>
              <p class="card-text">
                cirujano maxilofacial.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="carousel-item">
      <div class="card d-block w-100" style="width: 18rem">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">DIEGO ALEJANDRO ARBELAEZ PINEDA</h5>
            <p class="card-text">
              ortodoncista.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <div class="carousel-item">
    <div class="card d-block w-100" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">AURA CATALINA LLANO POSADA</h5>
          <p class="card-text">
            odontopediatra.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
<div class="carousel-item">
  <div class="card d-block w-100" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">UBIER JEOVANNY LOPEZ GALEANO</h5>
        <p class="card-text">
          ortodoncista.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
  </div>
</div>
