<section id="NavBar" >
  <app-nav-bar></app-nav-bar>  
</section>
<section id="Carrusel" class="Secciones">
  <app-carrusel></app-carrusel>
</section>
<section id="Servicios" class="Secciones" >
  <app-servicios></app-servicios>  
</section>
<section id="Especialistas">
  <app-especialistas></app-especialistas>
</section>
<section id="Alianzas">
  <app-alianzas></app-alianzas>
</section>
<section id="ComoLlegar">
  <app-como-llegar></app-como-llegar>
</section>
<section id="Redes">
  <app-redes></app-redes>
</section>
<section id="Footer">
  <app-footer></app-footer>
</section>