.logo1{          
    width: 50%;    
}
.logo2{
    width: 40%;    
}
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 6vh;
    background-color: rgba(109, 173, 149,0.8);
    border-radius: 10px; 
    text-align: center;   
}
.alianzas{
    display: flex;
    justify-content: space-between;
}